*--------Navigation-------*/ header {
    height: 100vh;
    width: 100vw;
}

.header_top_menu {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header_top_menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.header_logo {
    flex: 0 0 100px;
    position: relative;
    z-index: 5;
}

.header_logo img {
    max-width: 45px;
}

.header_burger {
    display: none;
}

.header_list {
    display: flex;
    position: relative;
    z-index: 3;
}

.header_list li {
    list-style: none;
    margin: 0 0 0 20px;
}

.header_list a:hover {
    color: rgb(10, 66, 70);
    font-weight: 700;
}

.header_link {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

@media (max-width:800px) {
    .header_section h1 {
        font-size: 30px;
    }
    .header_section {
        font-size: 30px;
    }
    .header_top_menu::before {
        opacity: 0;
    }
    body.lock {
        overflow: hidden;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header_body {
        height: 50px;
    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before {
        top: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger span {
        position: absolute;
        background-color: rgb(8, 8, 8);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::after {
        bottom: 0;
    }
    .header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        transition: all 0.7s ease 0s;
        background-color: rgb(255, 254, 254);
        padding: 80px 10px 20px 0;
    }
    .header_menu.active {
        top: 0;
    }
    .header_list {
        display: block;
        padding-left: 5vw;
    }
    .header_list li {
        margin: 0 0 20px 0;
    }
    .header_link {
        font-size: 22px;
    }
    .header_logo img {
        opacity: 0;
    }
}


/*------content first------*/


/*---------main--------*/

.content_first {
    height: fit-content;
    background-color: rgb(245, 243, 243);
}

.wrapper_content_blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20vh;
    width: 70vw;
    margin: 0 auto;
    border: 2px solid red;
    transition: 3s;
}

.wrapper_content_blocks2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20vh;
    width: 70vw;
    margin: 0 auto;
    border: 2px solid red;
    transition: 3s;
}

.content_first_h2 {
    font-size: 30px;
    color: black;
    margin-left: 40vw;
    margin-bottom: 25vh;
    padding-top: 13vh;
    position: relative;
    opacity: 0;
    transition: 2s;
}

.content_first_blocks {
    height: 300px;
    width: 300px;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-bottom: 5vh;
    border-radius: 5px;
    background-color: white;
}

.content_first_blocks img {
    height: 120px;
    width: 120px;
}


/*----------------content second---------------*/

.portfolio {
    height: fit-content;
    width: 100vw;
    background-color: rgb(252, 253, 251);
}

h1 {
    color: white;
    padding-left: 10px;
}

#hover {
    color: rgba(188, 175, 204, 0.9);
}

h2#testimonials {
    color: #fffae3;
}

div#all {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10vh;
}


/* generic css */

.view {
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 5px 8px 8px #bdbcbc;
    cursor: default;
    background: #fff;
    margin: 10vh;
}

.view .mask,
.view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative;
    width: 300px;
    height: 200px;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 20px 0 0 0
}

.view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

*/
/*1*/

.view-first img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(16, 4, 32, 0.44);
    transition: all 1s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.5s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s linear;
}

*/ .view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


/* */

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

*/
/*--------------------draft----*/

.content_second_blocks {
    width: 300px;
    height: 170px;
    overflow: hidden;
    margin-bottom: 10vh;
    border: 4px grey solid;
    border-radius: 4px;
    box-shadow: 5px 9px 9px rgb(158, 157, 157);
    transition-duration: 2s;
    position: relative;
}

.content_second_block_back {
    position: absolute;
    width: 300px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.363);
    opacity: 1;
    transition: 2s;
}

.content_second_block_back:hover {
    opacity: 0;
}

.content_second_blocks img {
    width: 50%;
    height: 50%;
    cursor: pointer;
}


/*=======relax!!!=======*/

.relax {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
    background: #000;
    touch-action: none;
    content-zooming: none;
}

canvas {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: #000;
}

.contacts {
    position: absolute;
    color: white;
    text-align: center;
    margin: 5vh 0 0 33vw;
}

.contacts span {
    font-weight: 700;
}

.contacts h3 {
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.contacts p {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 3px;
}

.contacts a {
    text-decoration: none;
    color: rgb(142, 223, 248);
}


/*
@media (max-width:800px) {
    h1 {
        font-size: 15px;
    }
    .content_first_h2 {
        font-size: 22px;
        margin-left: 35vw;
    }
    h2::after {
        content: '';
        display: none;
    }
    .contacts {
        margin-left: 17vw;
        width: 200px;
    }
    .contacts h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .contacts p {
        font-size: 16px;
        line-height: 35px;
    }
    .canvas {
        width: 100%;
    }
}


/*-------content3------About------*/

.content_block_three {
    background-attachment: fixed;
    background-image: url('../img/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10vh;
}

.about img {
    height: 400px;
    width: 300px;
    margin-bottom: 5vh;
}


/*
@media (max-width:400px) {
    .text_header {
        margin-left: 0vw;
        width: 240px;
    }
    .text_header h1 {
        font-size: 18px;
    }
}